
/*------------------------------------------------- Configurações Main ------------------------------------------------- */



        .content{
            max-width: 800px;
            margin: auto;
            padding: 1rem;
            text-align: center;
        }

            .content h1{
                font-size: 3rem;
                margin-bottom: 1.5rem;
            }

            .content p{
                font-size: 1.2rem;
                line-height: 1.6;
                color: var(--text-color);
            }
.botao{
            width: 100%;
            text-align: center;
            margin-top: 4rem;
        }

            .botao .btn{
                margin: 1rem;
            }
