@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

/* Variáveis de cores */
:root { 
    --bg-color: #F9FAFB;
    --snd-bg-color: #F0F0F0;

    --main-color: #3B82F6;
    --snd-main-color: #06B6D4;

    --text-color: ##1E293B;
    --elements: #E2E8F0;
}

/* ------------------------------------------------- Configurações Gerais ------------------------------------------------- */

.body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    margin-bottom: 1rem;
}

a{
    color: var(--text-color);
}

a:hover,
a.active {
        color: var(--elements);
        text-shadow: 0 0 10px var(--main-color);
        cursor: pointer;
}

.btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

    .btn:hover,
    .btn:focus{
        background: var(--elements);
        color: var(--snd-main-color);
        box-shadow: 0 0 20px var(--snd-main-color);
        transform: scale(1.05);
    }


main{
    margin-top: 6rem; /* Espaço para o header fixo */
    padding: 2rem;
}

    main .sobre{
        background-color: var(--snd-bg-color);
        border-radius: 1rem;
        min-height: 65vh;
        max-width: 70vw;
        margin: 1rem auto;
        padding: 7rem 9% 2rem;
        justify-content: center;
        align-items: center;
    }

        main .sobre .title{
            width: 100%;
            font-size: 3rem;
            text-align: center;
        }


        