@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');


/*------------------------------------------------- Configurações Header ------------------------------------------------- */



.header{
position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 6rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: var(--snd-bg-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
    font-family: 'Inter', sans-serif;

}

    .header .logo{
        color: var(--text-color);
        font-weight: 600;
        margin-left: 1.5rem;
        transition: color 0.3s ease;
    }

    .header .logo:hover{
        color: var(--main-color);
        cursor: pointer;
    }

        .header .navbar .nav_links{
            list-style: none; /* Remove os marcadores de lista */
            margin: 0 ;
            padding: 0;
            display: flex; /* Para alinhar os links lado a lado */
            gap: 1.5rem; /* Espaço entre os links */
            justify-content: center;
            align-items: center;
        }

            .header .navbar .nav-links li{
                    font-size: 1rem;
                    color: var(--text-color);
                    font-weight: 500;
                    transition: 0.3s ease;

            }



/* ====== MENU DO PERFIL ====== */
.profile_menu {
  position: relative;
}

.profile_button {
  background: none;
  border: none;
  cursor: pointer;
width: 35px;
  height: 35px;
}

.profile_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  transition: transform 0.2s ease-in-out;
}

.profile_img:hover {
  transform: scale(1.05);
}

/* Dropdown menu */
.dropdown_menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0.5rem 0;
  width: 180px;
  z-index: 10;
  animation: fadeIn 0.2s ease-in-out;
}

.dropdown_menu li {
  padding: 0.7rem 1rem;
}

.dropdown_menu a,
.dropdown_menu button {
  color: #333;
  text-decoration: none;
  font-size: 0.95rem;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
